h1,
h2,
h4,
h6 {
  text-align: center;
}
h1 {
  color: #407088;
}
i {
  font-size: 30px;
}

ul{
    margin: -12px;
    padding: 0;
}

li {
    list-style: none;
    text-align:left; 
    color: rgb(135,135,135);
    font-size: 16px;
    font-weight: 100;
    line-height:19px;

}

.weather_description {
text-transform: capitalize;  
}

.card_location {
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.card {
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.dates {
  display: block;
  padding: 10px;
  margin: 10px;
}

button {
  display: inline;
  border-radius: 100px !important;
  border: 1px solid #407088;
  padding: 10px 50px;
  margin: 10px;
  text-align: center;
  background-color: #f1f49a;
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.08) 0px 8px 8px 0;
  cursor: pointer;
}
button:hover {
  background: #407088;
  color: white;
  border: 1px solid #407088;
}

#currentWeather {
  font-size: 30px;
  text-align: center;
}


.weather-forecast { 
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
        font: 16px;
        color: #000;
}

.weather-forecast-temperatures {
    font-size:13px;
}

.weather-forecast-temperature-min {
    opacity: 0.5;
}

.card {
  text-align:center;
}
